# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: Cloudflare Tunnel client
version: "2026.2.0"
slug: cloudflared
description: Client for Cloudflare Tunnel
arch:
  - aarch64
  - amd64
url: "https://github.com/fredericks1982/hass-addon-cloudflared"
image: "ghcr.io/fredericks1982/{arch}-addon-cloudflared"
startup: system
host_network: true
init: false
options:
  token: ""
schema:
  token: "str"
panel_icon: mdi:router-network
stage: stable
backup: hot